@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$blue: hsl(246, 80%, 60%);
$lightRedWork:hsl(15, 100%, 70%);
$softBluePlay:hsl(195, 74%, 62%);
$lightRedStudy: hsl(348, 100%, 68%);
$limeGreenExercise: hsl(145, 58%, 55%);
$violetSocial: hsl(264, 64%, 52%);
$softOrangeSelfCare: hsl(43, 84%, 65%);
// Neutral
$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturatedBlue: hsl(235, 45%, 61%);
$paleBlue: hsl(236, 100%, 87%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $veryDarkBlue;
}

main{
    display: flex;
    flex-direction: row;
    width: 1000px;
    gap: 1.5rem;
    align-items: stretch;
    .report{
        background-color: $darkBlue;
        .person{
            background-color: $blue;
        }
    }
    .aspects{
        display: grid;
        flex-grow: 1;
        grid-template-columns: repeat(3,auto);
        gap: 1.5rem;
    }
}